# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out

private-key.asc
dist/
.bin/

*.gpg
# Test binary, built with `go test -c`

# Output of the go coverage tool, specifically when used with LiteIDE

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
.fleet/
qodana.yaml

tmp/
